<!DOCTYPE html>
  <html>
    <head>
  	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
    <div class="container">
			<h2>Digits2Word</h2>
			<div class="row">
			      <div class="row">

			        <div class="input-field col s12">
			          <input ng-controller="GreetingController" placeholder="Ex: 45" id="number" type="text" ng-model="GreetingController.number" class="validate">
			          <label for="first_name">Type a number</label>
			        </div>
			      </div>	
				  <div class="row">
			        <div class="input-field col s12">
				   	<button name="submit" ng-click="GreetingController.digitsToWord()" class="waves-effect waves-light btn modal-trigger" href="#modal1">Submit</button>
				  </div>
				</div>
			</div>
         
          </div>

		  <div id="modal1" class="modal">
		    <div class="modal-content">
		      <h4>Result</h4>
		      <p id="result"></p>
		    </div>
		    <div class="modal-footer">
		      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
		    </div>
		  </div>
			
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>


  	  <script>
  	  		  $('.modal-trigger').leanModal({
			      dismissible: true,
			      opacity: .5,
			      in_duration: 500,
			      out_duration: 200, 
			      ready: function() {
			      		var numberInput = $('#number').val();
			      		$.ajax({
						  url: "/convert",
						  data: {
						    number: numberInput
						  },
							success: function( data ) {
								var dataRes = JSON.parse(data);
								if(!dataRes){
									$( "#result" ).html('Type a valid number.');
								}else{
									$( "#result" ).html( dataRes.join('') );
								}
							}
						});

			       }, 
			      complete: function() { } 
			    }
			  );
      
		
	  </script>
    </body>
</html>